<div class="radio-group">
	<label class="radio-label"><input type="radio" name="prev-radio" checked> Option A</label>
	<label class="radio-label"><input type="radio" name="prev-radio"> Option B</label>
</div>
