<a class="modal-open-btn" href="#prev-modal">Open Modal</a>
<div class="modal-overlay" id="prev-modal">
	<div class="modal-box">
		<h3>Pure CSS Modal</h3>
		<p>No JavaScript required.</p>
		<a class="modal-close" href="#">Close</a>
	</div>
</div>
