<input class="offcanvas-check" type="checkbox" id="prev-offcanvas">
<label class="offcanvas-open" for="prev-offcanvas">☰ Menu</label>
<label class="offcanvas-overlay" for="prev-offcanvas"></label>
<div class="offcanvas-panel">
	<label class="offcanvas-close" for="prev-offcanvas">✕ Close</label>
	<nav>
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Work</a>
	</nav>
</div>
