<div style="width:100%">
	<div class="progress-row">
		<span class="progress-label">CSS</span>
		<progress value="92" max="100"></progress>
	</div>
	<div class="progress-row">
		<span class="progress-label">HTML</span>
		<progress class="success" value="85" max="100"></progress>
	</div>
	<div class="progress-row">
		<span class="progress-label">JS</span>
		<progress class="warning" value="45" max="100"></progress>
	</div>
	<div class="progress-row">
		<span class="progress-label">Rust</span>
		<progress class="danger" value="12" max="100"></progress>
	</div>
</div>
