<div class="skeleton-card">
	<div class="skel skel-avatar"></div>
	<div class="skel skel-line w-full"></div>
	<div class="skel skel-line w-3q"></div>
	<div class="skel skel-line w-half"></div>
</div>
