<div class="stars">
	<input type="radio" name="prev-stars" id="prev-s5" value="5"><label for="prev-s5">★</label>
	<input type="radio" name="prev-stars" id="prev-s4" value="4"><label for="prev-s4">★</label>
	<input type="radio" name="prev-stars" id="prev-s3" value="3" checked><label for="prev-s3">★</label>
	<input type="radio" name="prev-stars" id="prev-s2" value="2"><label for="prev-s2">★</label>
	<input type="radio" name="prev-stars" id="prev-s1" value="1"><label for="prev-s1">★</label>
</div>
