<div class="tabs">
	<input class="tab-inputs" type="radio" name="prev-tabs" id="demo-tab-navigation-t1" checked>
	<input class="tab-inputs" type="radio" name="prev-tabs" id="demo-tab-navigation-t2">
	<div class="tab-labels">
		<label class="tab-label" for="demo-tab-navigation-t1">Design</label>
		<label class="tab-label" for="demo-tab-navigation-t2">Code</label>
	</div>
	<div class="tab-panels">
		<div class="tab-panel" id="demo-tab-navigation-p1">Design panel content.</div>
		<div class="tab-panel" id="demo-tab-navigation-p2">Code panel content.</div>
	</div>
</div>
